/* Variables */

:root {
  --lightTextColor: #f4f4f9;
  --lightBlue: #b8dbd9;
  --trueBlue: #586f7c;
  --darkBlue: #2f4550;
  --darkGreen: #182328;
  --redTone: #d64045;
  --rad: 0.7rem;
  --dur: 0.3s;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: solid 1px red; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  /* background: rgba(184, 219, 217, 0.4); */
  background-image: linear-gradient(
    to right,
    rgba(88, 111, 124, 0.4),
    rgba(201, 213, 221, 0.7),
    rgba(88, 111, 124, 0.4)
  );
  position: relative;
}

.body-wrapper {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
  display: block;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--darkBlue);
}

/* Navbar */

.navbar {
  background-color: var(--trueBlue);
  height: 54px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.center-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  font-family: "Lobster", cursive;
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  color: var(--lightTextColor);
}

.nav-links a:hover {
  color: var(--lightBlue);
}

@media screen and (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 0.5em;
  }
  .center-navbar {
    flex-direction: column;
    justify-content: center;
  }
  .nav-links a {
    padding: 0.5rem 0.5rem;
  }
}

/* Search Bar */

.search {
  position: relative;
  width: 50rem;
  background: var(--lightBlue);
  border-radius: var(--rad);
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 1366px) {
  .search {
    width: fit-content;
  }
}

.search input,
button {
  height: 2.5rem;
  border: 0;
  color: black;
  font-size: 1.2rem;
}
.search input[type="search"] {
  width: 100%;
  background: var(--lightTextColor);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.search button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--darkGreen);
  color: white;
  border-radius: 0 var(--rad) var(--rad) 0;
}
.search input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

.search-results {
  position: absolute;
  border-radius: var(--rad);
  padding: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: var(--lightTextColor);
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-auto-flow: column;
  visibility: hidden;
}

.four-to-six {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
}

.one-to-three {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 200px);
}

.show-results {
  /* display: none; */
  visibility: visible;
}

.search-card {
  text-align: center;
  background-color: white;
  cursor: pointer;
}

.search-card:hover {
  background-color: rgba(88, 111, 124, 0.5);
}

.search-img {
  height: 150px;
  object-fit: cover;
  overflow: hidden;
}

.search-card h3 {
  text-transform: capitalize;
  font-weight: 100;
  font-size: 1.3em;
  padding: 12px;
  color: var(--darkBlue);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media screen and (max-width: 768px) {
  .search-results {
    display: flex;
    flex-direction: column;
  }
  .search-card {
    display: flex;
    flex-direction: row;
  }
  .search-img {
    height: 40px;
  }
  .search-card h3 {
    font-size: 1em;
    padding: 8px;
  }
}

/* Home */

main {
  padding-bottom: 15vh;
  height: 100%;
  /* margin: auto; */
}

.container {
  padding-top: 54px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5vh;
  /* background-color: rgba(88, 111, 124, 0.4); */
  background-image: linear-gradient(
    to right,
    rgba(88, 111, 124, 0.6),
    rgba(74, 94, 105, 0.4),
    rgba(88, 111, 124, 0.6)
  );
}

.section-main-recipe {
  text-align: center;
  flex: 70%;
  max-width: 70%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 54px;
}

.section-main-recipe img {
  height: 95vh;
  overflow: hidden;
  object-fit: cover;
}

.center-text-recipe {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: var(--darkBlue);
  background: rgba(255, 255, 255, 0.8);
}

.center-text-recipe fieldset {
  border: 4px dotted lightgray;
  text-transform: capitalize;
  padding: 20px;
  color: var(--darkBlue);
  cursor: default;
}

.center-text-recipe fieldset legend {
  border: 4px dotted lightgray;
  word-break: normal;
  font-size: 1em;
}

.center-text-recipe fieldset h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.2em;
  padding-bottom: 20px;
  cursor: pointer;
}

.center-text-recipe fieldset h2:hover {
  text-decoration: 1px underline;
  text-underline-offset: 5px;
}

.center-text-recipe fieldset button {
  padding-top: 20px;
  font-weight: bold;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--trueBlue);
  cursor: pointer;
}

.center-text-recipe fieldset button:hover {
  text-decoration: 1px underline;
  text-underline-offset: 5px;
}

.main-instructions {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.section-recipes {
  flex: 30%;
  max-width: 30%;
  margin: auto;
  padding: 15px;
}

@media screen and (max-width: 1024px) {
  .section-main-recipe {
    max-width: 100%;
    flex: 100%;
    position: relative;
    top: 0;
  }
  .section-main-recipe img {
    height: 50%;
    overflow: hidden;
    object-fit: cover;
  }
  .section-recipes {
    max-width: 100%;
    flex: 100%;
  }
  .center-text-recipe {
    width: 90%;
    bottom: -9%;
  }
}

@media screen and (max-width: 600px) {
  .main-recipe-container {
    position: relative;
  }
  .section-main-recipe img {
    height: 80vh;
  }
  .center-text-recipe {
    width: 100%;
    position: relative;
    margin-bottom: -14vh;
    background: rgba(255, 255, 255, 1);
  }
  .center-text-recipe fieldset button {
    padding-top: 0;
    display: none;
  }
  .main-instructions {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .main-recipe-container {
    position: relative;
  }
  .section-main-recipe img {
    height: 80vh;
  }
  .center-text-recipe {
    margin-bottom: -13vh;
  }
  .center-text-recipe fieldset h2 {
    font-size: 2em;
    padding-bottom: 5px;
  }
}

/* Grid */

.wrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 325px);
  grid-auto-flow: column;
}

.box {
  background-color: white;
  color: var(--darkBlue);
  text-transform: capitalize;
  padding-bottom: 15px;
  position: relative;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
  -webkit-transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
  -moz-transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.box:hover {
  transform: translate(5px, -5px);
  -moz-transform: translate(5px, -5px);
  -webkit-transform: translate(5px, -5px);
  box-shadow: -5px 5px var(--redTone);
}

.box img {
  height: 60%;
  object-fit: cover;
}

.box-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding-top: 35px;
}

.dish-types-container {
  position: absolute;
  top: 57%;
}

.box-wrapper {
  margin: 8px;
  position: relative;
}

.dish-types {
  color: var(--redTone);
  height: auto;
  text-transform: uppercase;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.dish-types a {
  transition: transform 1s ease-in-out;
  color: var(--redTone);
}

.dish-types a:hover {
  background-color: #d64045;
  color: white;
  border-radius: 5px;
  padding: 2px;
}

.title-dish {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 1.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 12px;
  padding-right: 12px;
}

.title-dish:hover {
  text-decoration: underline;
}

.timer {
  margin-left: 12px;
  margin-top: 8px;
}

@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 45vh);
  }
  .dish-types-container {
    top: 59%;
  }
  .timer {
    display: none;
  }
}

/* Section Slider Recipes */

.section-recipe-slider {
  margin-top: 5vh;
  height: 500px;
  background: var(--lightTextColor);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* animation: other 2s infinite ease-in-out; */
}

.section-recipe-slider fieldset {
  /* max-width: 100%; */
  position: relative;
  padding: 1vw;
  border: 4px dotted lightgray;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  /* animation: example 1s infinite ease-in-out; */
}

.section-recipe-slider fieldset legend {
  /* margin: auto; */
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 1.4em;
  background-color: rgba(255, 255, 255, 0.4);
  border: 4px dotted lightgray;
}

.section-recipe-slider fieldset legend a {
  color: var(--redTone);
}

.slider {
  width: 1050px;
  max-width: 100%;
  height: 380px;
  display: flex;
}

.slides {
  display: flex;
  overflow-x: auto;
  padding: 5px;
}

.slides::-webkit-scrollbar {
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.slide {
  color: var(--darkBlue);
  text-transform: capitalize;
  height: 350px;

  width: 31%;
  max-width: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
  margin-right: 30px;
  background: white;
  position: relative;
  overflow: hidden;

  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
  -webkit-transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
  -moz-transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

@media screen and (max-width: 600px) {
  .slider {
    width: 90vw;
  }
  .slide {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
  .slider {
    width: 90vw;
  }
  .slide {
    width: 48%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .slider {
    width: 90vw;
  }
}

.slide:hover {
  transform: translate(5px, -5px);
  -moz-transform: translate(5px, -5px);
  -webkit-transform: translate(5px, -5px);
  box-shadow: -5px 5px var(--redTone);
}

.slide:last-child {
  margin-right: 0px;
}

.slide img {
  object-fit: cover;
  height: 60%;
}

.dish-data {
  display: flex;
  height: 30%;
  flex-direction: column;
  justify-content: end;
  /* color: var(--darkBlue); */
}

.dish-data button {
  padding: 10px;
  font-size: 0.9em;
  font-weight: bold;
  margin: 15px 0 0 auto;
  display: block;
  text-transform: uppercase;
  /* background-color: transparent; */
}

@keyframes other {
  0% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 1;
    top: 5vh;
  }
}

@keyframes example {
  0% {
    opacity: 0;
    top: 0;
  }
  50% {
    top: 10vh;
  }
  100% {
    opacity: 1;
    top: 5vh;
  }
}

/* @-webkit-keyframes example {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes example {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

/* Recipe Page */

.recipe-container {
  position: relative;
  padding-top: 100px;
}

.single-recipe {
  /* display: flex; */
  /* flex-wrap: wrap; */
  background-color: white;
  width: 50vw;
  margin: auto;
  padding: 20px;
}

.single-recipe h1 {
  font-size: 3em;
}

.single-recipe ul {
  margin: 0 20px 10px 20px;
}

.single-recipe hr {
  border-top: 2px solid #bbb;
  margin: 20px 0;
}

.single-recipe-dishes {
  text-transform: uppercase;
  border-radius: 10px;
  background-color: var(--darkBlue);
  color: white;
  padding: 7px;
  margin: 3px 5px;
  cursor: pointer;
}

.single-recipe figure {
  margin-bottom: 15px;
  color: gray;
}

.single-recipe img {
  overflow: hidden;
  object-fit: cover;
  height: 100%;
}

.info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.info-box span {
  background-color: gray;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  color: white;
}

.single-recipe-body {
  font-size: 1.1em;
  margin: 0 40px 40px 40px;
  text-align: left;
  line-height: 1.5;
  color: var(--darkBlue);
  height: 100%;
}

.single-recipe-body ul {
  list-style-type: circle;
}

.single-recipe-body h3 {
  font-size: 1.3em;
  padding: 5px 0;
  border-bottom: 1px solid #bbb;
  margin: 25px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.single-recipe-body p a {
  color: rgba(88, 111, 124, 0.7);
}

.recipe-ul {
  text-transform: uppercase;
  font-size: 0.9em;
  columns: 1;
}

.recipe-ul:first-of-type {
  columns: 2;
}

@media screen and (max-width: 600px) {
  .recipe-container {
    padding-top: 54px;
  }
  .single-recipe {
    width: 100%;
  }
  .single-recipe h1 {
    font-size: 1.7em;
  }
  .recipe-ul:first-of-type {
    columns: 1;
  }
  .info-box {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
  .single-recipe {
    width: 80vw;
  }
  .single-recipe h1 {
    font-size: 2em;
  }
}

/* Recipes Page */

.multiple-recipes {
  /* background-color: white; */
  margin: auto;
  padding: 20px;
}

.recipes-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px;
}

.recipes-grid-container {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 15px;
}

.recipes-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-auto-flow: column;
}

.recipes-grid-container:last-child .recipes-grid {
  grid-template-rows: repeat(4, 325px);
}

.box {
  background-color: white;
  color: var(--darkBlue);
  text-transform: capitalize;
  padding-bottom: 15px;
  position: relative;
}

.box-item {
  background-color: white;
  color: var(--darkBlue);
  text-transform: capitalize;
  position: relative;
  grid-column: 1 / 3;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
  -webkit-transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
  -moz-transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
  /* transition: outline-offset 0.3s ease-in-out;
  -webkit-transition: outline-offset 0.3s ease-in-out;
  -moz-transition: outline-offset 0.3s ease-in-out; */
}

.box-item:last-child {
  grid-column: 3;
  grid-row: 1/3;
}

.box-item:hover {
  transform: translate(5px, -5px);
  -moz-transform: translate(5px, -5px);
  -webkit-transform: translate(5px, -5px);
  box-shadow: -5px 5px var(--redTone);
  /* outline: 1px solid var(--redTone);
  outline-offset: -0.4em; */
}

.box-item > a {
  display: flex;
  flex-direction: row;
}

.box-item:last-child > a {
  display: flex;
  flex-direction: column;
}

.img-container {
  width: 60%;
  height: 100%;
}

.box-item:last-child a .img-container {
  height: 60%;
  width: 100%;
}

.img-container img {
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}

.box-item:last-child a .img-container img {
  height: 100%;
  height: 380px;
  object-fit: cover;
  overflow: hidden;
}

.box-body {
  width: 40%;
  height: auto;
}

.box-item:last-child a .box-body {
  margin-top: 10px;
  width: 100%;
}

.box-wrapper-dish {
  margin-top: 50px;
}

.box-item:last-child a .box-body .box-wrapper-dish {
  margin-top: 40px;
}

.recipes-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 6;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin: 20px;
}

.box-item:last-child a .box-body .recipes-summary {
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.dish-types-container-grid {
  position: absolute;
  top: 3%;
  left: 62%;
}

.dish-types-container-grid .box-wrapper .dish-types div {
  display: inline-block;
}

.box-item:last-child .dish-types-container-grid {
  position: absolute;
  top: 63%;
  left: 5%;
}

@media screen and (max-width: 1024px) {
  .recipes-grid-container {
    position: relative;
    width: auto;
  }

  .recipes-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

/* Loading */

.loading {
  font-size: 5em;
  text-align: center;
  line-height: 100vh;
  text-transform: uppercase;
}
.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid white;
  border-color: var(--trueBlue) transparent var(--trueBlue) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* No Recipes Found*/

.error-card {
  background-color: white;
  /* margin-top: 40vh; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 100px 0;
  width: 75%;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-card span {
  font-size: 4.5em;
  color: var(--trueBlue);
  font-family: "Lobster", cursive;
  padding-bottom: 10px;
}

.error-card > a {
  font-size: 2em;
  text-transform: capitalize;
  font-family: "Lobster", cursive;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* Footer */

.footer {
  background-color: var(--darkBlue);
  color: white;
  text-align: center;
  padding: 4vh;
  width: 100%;
  font-family: "Lobster", cursive;
}

/* About */

.about {
  text-align: center;
  padding-top: 15vh;
}

.about-container {
  background-color: white;
  max-width: 800px;
  margin: 0 auto 50px auto;
  padding: 3rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.about-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: "Lobster", cursive;
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555;
  text-align: start;
}

.about-subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Lobster", cursive;
}

.about-li {
  list-style-type: circle;
}
