/* Variables */

:root {
  --black: #000;
  --white: #fff;
  --lightTextColor: #f4f4f9;
  --lightBlue: #b8dbd9;
  --trueBlue: #586f7c;
  --darkBlue: #2f4550;
  --darkGreen: #182328;
  --rad: 0.7rem;
  --dur: 0.3s;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--lightBlue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Navbar */

.navbar {
  background-color: var(--trueBlue);
  height: 75px;
  display: flex;
  align-items: center;
}

.center-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  color: var(--lightTextColor);
}

.nav-links a:hover {
  color: var(--lightBlue);
}

/* Search Bar */

.search {
  position: relative;
  width: 50rem;
  background: var(--lightBlue);
  border-radius: var(--rad);
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 992px) {
  .search {
    width: fit-content;
  }
}

.search input,
button {
  height: 2.5rem;
  border: 0;
  color: var(--black);
  font-size: 1.2rem;
}
.search input[type="search"] {
  width: 100%;
  background: var(--lightTextColor);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.search button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--lightBlue);
  border-radius: 0 var(--rad) var(--rad) 0;
}
.search input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
.search label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Home */

.section {
  padding: 5rem 0;
}

.appliances-center {
  margin: auto;
  max-width: 70%;
}

@media screen and (min-width: 576px) {
  .appliances-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

/* Grid */

.box {
  background-color: var(--white);
  color: var(--darkBlue);
  text-transform: capitalize;
  padding-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dish {
  padding: 8px 15px;
  text-transform: uppercase;
  color: rgb(230, 74, 2);
  font-weight: bold;
}

.box h2 {
  text-align: center;
  padding: 10px;
}

.wrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
}
